html {
    width: 340px;
    height: 580px;
    padding-top: 5%;
    /* padding-bottom: 5%; */
}

body {
    /* overflow-y: hidden; */
}


#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    padding-top: 2%;
    max-height: 430px;
    overflow-y:scroll;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    margin-top: 5%;
    margin-bottom: 5%;
}

