#chick-form {
    width: 45%;
    height: 45%;
}

#form-box{
    background-color: #fcc863;
    border-radius: 30px 30px 30px 0px; 
    width: 250px;
    height: 360px;
    max-width: 250px;
    max-height: 360px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 7px;
}

#form-bot {
    column-count: 2;
}