html {
    width: 340px;
    height: 580px;
    padding-top: 5%;
    /* padding-bottom: 5%; */
    background-color: lightyellow;
}

/* body {
    overflow-y: hidden;
} */


#vibe-sad {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    border-radius: 50%;
}

#vibe-meh {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    border-radius: 50%;
}

#vibe-hap {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    border-radius: 50%;
}
  
  #vibe-buttons-div {
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    padding-top: 2%;
    max-height: 430px;
    overflow-y:scroll;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    margin-top: 5%;
    margin-bottom: 5%;
}