/* My new stuff */
#vibe-buttons {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    border-radius: 50%;
  }
  
  #vibe-buttons-div {
    text-align: center;
}